/* Text Colors*/
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

/* Button */
.btn {
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background: #28a745;
  color: #fff;
}
.btn-secondary,
.bg-secondary {
  background: #0284d0;
  color: #fff;
}
.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}

.btn-light,
.bg-light {
  background: #f4f4f4ff;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: #fff 1px solid;
}

/* Flex Items */

.flex-items {
  display: flex;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex Columns */
/* without >, the contact part will be influenced */
.flex-reverse > .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  /* this line needs to be studied */
  flex-basis: 100%;
  /* with lines below, the green for column-2 background cannot be 100% height */
  /* width: 100%; */
  /* height: 100%; */
  flex: 1;
}

.flex-columns img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: flex-start;
}

.column-2 h2 {
  font-size: 45px;
  font-weight: 100px;
}

.column-2 h2,
.column-2 h4,
.column-2 p {
  margin: 20px 0;
}

/* Section Header */
.section-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}
